
# Rede básica para regressão em Keras

## Dataset

In [1]:
!pip install numpy==1.21.4
!pip install pandas==1.3.4
!pip install keras==2.1.6

Collecting numpy==1.21.4
  Downloading numpy-1.21.4-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.7/15.7 MB 53.8 MB/s eta 0:00:0000:0100:01
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.6
    Uninstalling numpy-1.21.6:
      Successfully uninstalled numpy-1.21.6
Successfully installed numpy-1.21.4
Collecting pandas==1.3.4
  Downloading pandas-1.3.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 62.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (1.21.4)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas==1.3.4) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
Successfully installed pandas-1.3.4
Requirement already satisfied: keras==2.1.6 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (2.1.6)
Requirement already satisfied: numpy>=1.9.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.21.4)
Requirement already satisfied: scipy>=0.14 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.7.3)
Requirement already satisfied: six>=1.9.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.16.0)
Requirement already satisfied: pyyaml in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (6.0)
Requirement already satisfied: h5py in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (2.8.0)

In [2]:
import pandas as pd
import numpy as np

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

- O objetivo é ppredizer a coluna **Strength**

### Analisar os dados.

In [4]:
concrete_data.shape

(1030, 9)

Pelo volume pequeno de dados precisa-se ter cuidado para não gerar *overfit*

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Separar a coluna que queremos prever das colunas de dados.

In [7]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # remover Strength
target = concrete_data['Strength'] # Strength - coluna

<a id="item2"></a>

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

- Normalizar os dados para estarem prontos para o uso na rede

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [12]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id='item32'></a>

## Keras

Usamos Keras com o Tensorflow por baixo

In [14]:
import keras

O modelo será uma rede simples totalmente conectada

In [15]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Definindo a Rede Neural

In [16]:

def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Treinar a rede com os dados

In [18]:
# instancia o modelo
model = regression_model()

In [23]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 50)                450
_________________________________________________________________
dense_5 (Dense)              (None, 50)                2550
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 51
=================================================================
Total params: 3,051
Trainable params: 3,051
Non-trainable params: 0
_________________________________________________________________

 - Treinar a rede usando o método *FIT*.
 
 30% dos dados serão usados para validação

In [19]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Train on 721 samples, validate on 309 samples
Epoch 1/100

2023-09-19 18:16:06.335156: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2023-09-19 18:16:06.342130: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2394315000 Hz
2023-09-19 18:16:06.342927: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55a5a834d560 executing computations on platform Host. Devices:
2023-09-19 18:16:06.342974: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2023-09-19 18:16:06.471487: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

 - 0s - loss: 1668.9351 - val_loss: 1154.0608
Epoch 2/100
 - 0s - loss: 1538.1810 - val_loss: 1032.6876
Epoch 3/100
 - 0s - loss: 1316.6118 - val_loss: 844.5069
Epoch 4/100
 - 0s - loss: 987.1221 - val_loss: 607.4049
Epoch 5/100
 - 0s - loss: 618.1537 - val_loss: 380.8046
Epoch 6/100
 - 0s - loss: 344.2707 - val_loss: 242.0146
Epoch 7/100
 - 0s - loss: 235.3869 - val_loss: 197.6862
Epoch 8/100
 - 0s - loss: 217.4193 - val_loss: 184.2350
Epoch 9/100
 - 0s - loss: 206.5414 - val_loss: 176.3850
Epoch 10/100
 - 0s - loss: 198.1096 - val_loss: 173.1539
Epoch 11/100
 - 0s - loss: 191.2692 - val_loss: 168.8069
Epoch 12/100
 - 0s - loss: 185.6243 - val_loss: 165.6387
Epoch 13/100
 - 0s - loss: 180.2018 - val_loss: 164.2848
Epoch 14/100
 - 0s - loss: 175.9835 - val_loss: 161.3080
Epoch 15/100
 - 0s - loss: 171.6085 - val_loss: 159.4899
Epoch 16/100
 - 0s - loss: 168.4285 - val_loss: 157.7217
Epoch 17/100
 - 0s - loss: 164.8804 - val_loss: 157.0655
Epoch 18/100
 - 0s - loss: 162.1665 - val_loss: 153.7439
Epoch 19/100
 - 0s - loss: 160.0110 - val_loss: 154.5060
Epoch 20/100
 - 0s - loss: 157.4537 - val_loss: 153.9703
Epoch 21/100
 - 0s - loss: 155.0609 - val_loss: 151.2802
Epoch 22/100
 - 0s - loss: 153.2744 - val_loss: 150.5998
Epoch 23/100
 - 0s - loss: 151.5348 - val_loss: 153.1662
Epoch 24/100
 - 0s - loss: 149.7315 - val_loss: 153.2514
Epoch 25/100
 - 0s - loss: 148.1989 - val_loss: 153.5855
Epoch 26/100
 - 0s - loss: 146.8370 - val_loss: 153.3342
Epoch 27/100
 - 0s - loss: 145.4063 - val_loss: 151.6999
Epoch 28/100
 - 0s - loss: 143.6069 - val_loss: 153.6497
Epoch 29/100
 - 0s - loss: 142.9234 - val_loss: 155.6613
Epoch 30/100
 - 0s - loss: 141.3969 - val_loss: 154.4709
Epoch 31/100
 - 0s - loss: 140.4277 - val_loss: 154.5162
Epoch 32/100
 - 0s - loss: 139.2301 - val_loss: 156.5424
Epoch 33/100
 - 0s - loss: 138.2562 - val_loss: 154.4724
Epoch 34/100
 - 0s - loss: 137.2966 - val_loss: 157.8257
Epoch 35/100
 - 0s - loss: 136.8345 - val_loss: 156.3311
Epoch 36/100
 - 0s - loss: 136.4223 - val_loss: 158.6448
Epoch 37/100
 - 0s - loss: 134.0060 - val_loss: 158.4618
Epoch 38/100
 - 0s - loss: 133.2874 - val_loss: 158.4801
Epoch 39/100
 - 0s - loss: 132.0668 - val_loss: 160.5107
Epoch 40/100
 - 0s - loss: 131.3297 - val_loss: 157.6725
Epoch 41/100
 - 0s - loss: 130.7378 - val_loss: 160.5028
Epoch 42/100
 - 0s - loss: 128.7742 - val_loss: 162.1864
Epoch 43/100
 - 0s - loss: 127.9762 - val_loss: 160.4323
Epoch 44/100
 - 0s - loss: 126.9548 - val_loss: 161.1874
Epoch 45/100
 - 0s - loss: 125.5588 - val_loss: 162.2265
Epoch 46/100
 - 0s - loss: 125.7753 - val_loss: 160.0358
Epoch 47/100
 - 0s - loss: 125.5297 - val_loss: 164.6835
Epoch 48/100
 - 0s - loss: 122.8678 - val_loss: 163.3362
Epoch 49/100
 - 0s - loss: 121.6832 - val_loss: 164.1321
Epoch 50/100
 - 0s - loss: 120.9598 - val_loss: 162.7669
Epoch 51/100
 - 0s - loss: 120.0079 - val_loss: 165.7164
Epoch 52/100
 - 0s - loss: 119.1713 - val_loss: 159.6212
Epoch 53/100
 - 0s - loss: 116.8933 - val_loss: 162.6987
Epoch 54/100
 - 0s - loss: 115.7376 - val_loss: 159.4699
Epoch 55/100
 - 0s - loss: 114.3519 - val_loss: 159.4124
Epoch 56/100
 - 0s - loss: 112.9792 - val_loss: 157.6932
Epoch 57/100
 - 0s - loss: 111.8096 - val_loss: 158.8977
Epoch 58/100
 - 0s - loss: 110.9371 - val_loss: 158.5312
Epoch 59/100
 - 0s - loss: 109.4227 - val_loss: 157.1334
Epoch 60/100
 - 0s - loss: 108.0337 - val_loss: 154.9934
Epoch 61/100
 - 0s - loss: 105.6913 - val_loss: 155.7639
Epoch 62/100
 - 0s - loss: 103.8448 - val_loss: 152.8533
Epoch 63/100
 - 0s - loss: 102.1097 - val_loss: 154.5924
Epoch 64/100
 - 0s - loss: 100.2713 - val_loss: 148.8045
Epoch 65/100
 - 0s - loss: 98.4893 - val_loss: 148.8057
Epoch 66/100
 - 0s - loss: 96.4046 - val_loss: 141.7944
Epoch 67/100
 - 0s - loss: 94.2418 - val_loss: 145.7158
Epoch 68/100
 - 0s - loss: 91.9909 - val_loss: 139.6147
Epoch 69/100
 - 0s - loss: 89.6036 - val_loss: 135.5326
Epoch 70/100
 - 0s - loss: 86.7526 - val_loss: 134.6340
Epoch 71/100
 - 0s - loss: 85.3729 - val_loss: 125.3528
Epoch 72/100
 - 0s - loss: 82.2448 - val_loss: 128.6961
Epoch 73/100
 - 0s - loss: 79.5427 - val_loss: 129.5950
Epoch 74/100
 - 0s - loss: 76.7819 - val_loss: 126.8584
Epoch 75/100
 - 0s - loss: 74.0413 - val_loss: 122.3524
Epoch 76/100
 - 0s - loss: 71.9311 - val_loss: 129.2499
Epoch 77/100
 - 0s - loss: 69.2551 - val_loss: 123.0183
Epoch 78/100
 - 0s - loss: 67.3176 - val_loss: 121.9480
Epoch 79/100
 - 0s - loss: 65.4361 - val_loss: 126.0040
Epoch 80/100
 - 0s - loss: 62.8609 - val_loss: 120.8055
Epoch 81/100
 - 0s - loss: 61.0190 - val_loss: 118.4418
Epoch 82/100
 - 0s - loss: 59.2219 - val_loss: 123.2586
Epoch 83/100
 - 0s - loss: 58.1309 - val_loss: 117.3793
Epoch 84/100
 - 0s - loss: 56.1669 - val_loss: 112.4259
Epoch 85/100
 - 0s - loss: 54.7329 - val_loss: 113.0618
Epoch 86/100
 - 0s - loss: 53.4753 - val_loss: 118.7957
Epoch 87/100
 - 0s - loss: 52.9242 - val_loss: 112.3125
Epoch 88/100
 - 0s - loss: 50.7501 - val_loss: 120.9076
Epoch 89/100
 - 0s - loss: 49.6615 - val_loss: 115.4106
Epoch 90/100
 - 0s - loss: 48.7459 - val_loss: 123.0160
Epoch 91/100
 - 0s - loss: 47.7464 - val_loss: 121.9377
Epoch 92/100
 - 0s - loss: 46.3108 - val_loss: 119.7608
Epoch 93/100
 - 0s - loss: 46.0220 - val_loss: 125.4422
Epoch 94/100
 - 0s - loss: 44.8679 - val_loss: 119.1419
Epoch 95/100
 - 0s - loss: 44.0307 - val_loss: 118.5950
Epoch 96/100
 - 0s - loss: 43.5954 - val_loss: 121.4313
Epoch 97/100
 - 0s - loss: 42.7608 - val_loss: 128.5750
Epoch 98/100
 - 0s - loss: 42.0208 - val_loss: 126.5928
Epoch 99/100
 - 0s - loss: 41.6555 - val_loss: 129.7724
Epoch 100/100
 - 0s - loss: 40.4124 - val_loss: 134.8369

In [28]:
model.predict([predictors_norm[:2]])

array([[69.65748 ],
       [70.186676]], dtype=float32)

In [29]:
target[:2]

0    79.99
1    61.89
Name: Strength, dtype: float64